.todos{
    display: flex;
    padding: 10px 15px;
    background-color:#82d42b ;
    border-bottom: 1px solid #977474;
}

.todo:nth-child(even){
    background-color:#A8DF8E ;
}

.todo:last-of-type{
    border-bottom: 0;
}

.todo.id{
    flex: 1 1 50px;
}

.todo.content{
    flex: 1 1 100%;
}

.todo.done.content{
    text-decoration: line-through;
}
.todo-input{
    display: block;
    width:100%;
    padding: 10px 15px;
    appearance: none;
    border: none;
    background-color:#03fd14 ;
    margin-top: 15px;
    font-size: 20px;
    outline:none;
    align-content: center;
}


.submit{
    display: block;
    width:100%;
    max-width: 200px;
    appearance: none;
    border: none;
    outline: none;
    background:none;
    align-items: center;


    color:#0a0c0b;
    background-color:#16ca6d;
    margin: 15px auto;

    padding: 10px 15px;
    font-size:18px;
    font-weight: 700;
}